/* Home-Page */
#showcase .showcase-content {
    font-size: medium;
}

.L-heading {
    font-size: 3.5rem;
}


/* About-Page */
.page-container {
    display: block;
    text-align: center;
}

.page-container img {
    width: 20rem;
}

/* Contact-Page */
.form-container {
    width: 70%;
}

/* More-Info */
.Animals-container {
    padding: 0.5rem;
}

.tiger-container, .hawk-container {
    display: block;
    text-align: center;
}